body{
    background-color: rgb(221, 113, 12);
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/capture.png') center center fixed no-repeat;
	
}

.login-form {
    width: 340px;
    margin: 50px auto;
    
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 9px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 20px;
}
.login-form h2 {
    margin: 0 0 50px;
}
.login-form h2:hover {
    color: rgb(0, 255, 85);
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {        

    font-size: 15px;
    font-weight: bold;
}
.btn:hover{
    
    background-color: green;
}

button{
    margin-left: 30%;
}
label.form-label{
    color: green;
}