 


*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw cen MT',sans-serif;
}

.container{
    
    position: relative ;
    padding: 0 8px;
    height: 100vh;
    width: 100%;
    background-color: rgba(65, 166, 225, 0.329);


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px ;
}

nav .logo{

    width: 50px;
    cursor: pointer;
   /* position: absolute;
    top: 40px;
    width: 50px;
    height: 30px;
    margin-top: 00px;
    cursor: pointer;*/
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;

}

nav ul li a{
    position: relative;
    padding:10px 2 ;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul li a.cls::after{
    content: '';
    background: rgba(0, 0, 0, 0.747);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    
    transition: 0.3s;

}
ul li a:hover::after{
    width: 70%;

}






button.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    
    background-color: transparent;
    color: rgb(61, 117, 112);
    border: 1px solid transparent ;
    transition: border-color .3s;
}

button.btn:hover{
    border-color: rgb(102, 168, 162);
} 
  


.nav-links .menu-hamburger{
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 35px;
    height: 35px;

}




/*presentation du lby*/

#intro{
    width: 400px;
    float: left;
    margin-left: 40px;
    margin-top: 60px;
    
   
    
}


#intro h3{
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: rgb(26, 221, 235);
}
#intro h1{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(59, 58, 58);
}

#intro h1:hover{
    color: orangered;
    cursor: grab;
}

#intro p{
    margin-top: 50px;
    font-size: 15px;
    text-align: justify;
    font-family: 'Times New Roman';
    color: rgb(59, 58, 58);
    line-height: 25px;
    transition: .3s;
}

#intro p:hover{
    color: orangered;
    transform: scale(1.1);
    
}

#intro input{
    float: left;
    margin-left: 30%;
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-family: monospace;
    outline: none;
    font-weight: bold;
    border: 2px solid rgb(26, 221, 235);
    background: white;
    color: rgb(26, 221, 235);
    transition: .2s;
    font-size: 13px;
}
#intro input:hover{
    border: 2px solid rgb(26, 221, 235);
    background:rgb(26, 221, 235);
    color: white;
    transition: .2s;
    cursor: pointer;
}



.images{
    float: right;
    margin-right: 40px;
    margin-top: 60px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    transition: .3s;
}
.images img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
    transition: .3s;
}

.images img:hover{
    transform: scale(2.1);
  
}

/*fin de l'intro et images*/


#fond{
    
    float: right;
    margin-right: 40px;
    margin-top: 60px;
    width: 600px;
   
   
    
}


#fond h3{
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: rgb(26, 221, 235);
}
#fond h1{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(59, 58, 58);
}

#fond h1:hover{
    color: orangered;
    cursor: grab;
}

#fond p{
    margin-top: 50px;
    font-size: 15px;
    text-align: justify;
    font-family: 'Times New Roman';
    color: rgb(59, 58, 58);
    line-height: 25px;
    transition: .3s;
}

#fond p:hover{
    color: orangered;
    transform: scale(1.1);
    
}

#fond input{
    float: left;
    margin-left: 30%;
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-family: monospace;
    outline: none;
    font-weight: bold;
    border: 2px solid rgb(26, 221, 235);
    background: white;
    color: rgb(26, 221, 235);
    transition: .2s;
    font-size: 13px;
}
#fond input:hover{
    border: 2px solid rgb(26, 221, 235);
    background:rgb(26, 221, 235);
    color: white;
    transition: .2s;
    cursor: pointer;
}


.rentr{
    position: absolute;
    margin-top:600px;
    float: left;
    margin-left: 40px;
    
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    transition: .3s;
}
.rentr img{
    width: 500px;
    height: 300px;
    border-radius: 5px;
    transition: .3s;
}

.rentr img:hover{
    transform: scale(1.1);
  
}



/* bloc inscription */


